* {
    margin: 0;
    padding: 0;
    
}
.bulb-light {
    
    background-color: rgb(255, 233, 111);
}

.bulb-dark {
    background-color: rgb(255, 255, 255);
}
body {
    overflow-y: overlay;
    scrollbar-width: none;
    scroll-behavior: smooth;
    
    transition: all 0.3s ease;
    // 所有的按鈕
    button{
        background-color: rgb(255, 184, 91);
        border-radius: 0.5rem;
        padding: 0 0.5rem 0 0.5rem;
        box-shadow: 1px 1px 5px black;
    }
    .top-area{
        height: 30vh;
        background-color: #fff;
        box-shadow: 0rem 0.5rem 50px rgba(0,0,0,.3);
        position: relative;
        z-index: 1;
    }
    .top-bg {
        position: absolute;
        background-image: url(../../../public/projests-picture/cart/topBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        filter: brightness(0.3);
        z-index: -1;
        width: 100%;
        height: 30vh;
        
    }
    .top-img {
        position: relative;
        z-index: 0;
        object-fit: cover;
        width: 100%;

        img{
            width: 75%;
            height: 75%;
            border: 2px rgba(0,0,0,.3) solid;
            border-radius: 50%;
            box-shadow:inset 2px 2px 2px rgb(111, 111, 111);
            object-fit: cover;
        }
    }
    .search-area{
        
        input,button{
            background-color: gray;
            border: none;
            border-radius: 0;
            height: 2rem;
            box-shadow: none;
        }
        input{
            text-indent: 15px;
            border-radius: 1.5rem 0 0 1.5rem ;
            border: gray 2px solid;
            background-color: #fff;
        }
        button{
            border-radius:0 1.5rem 1.5rem 0 ;
        }
        
    }

    .header{
        position: relative;

    }
    .cart-body{
        background-color: rgba(255,255,255,0.5);
    }
    .light-area{
        position: fixed;
        top: 35%;
        left: 1rem;
       
        .bulb{
            text-align: center;
            h1{
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
            img{
                transform: rotate( -45deg );
                max-width: 100px;
                margin: auto;
            }
            button{
                color: white;
                font-weight: bold;
                display: flex;
                width: 100px;
                margin: auto;
                padding: 5px;
                align-items: center;
                justify-content: center;
                background-color: rgb(89, 89, 89);
                box-shadow: 2px 2px 5px gray , inset 2px 2px 2px white;
                margin: 0.5rem;
                
            }
        }
    }

    

    // product area
    .img_container{
        border-radius: 20px;
    }
    .product-name{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .cartItemIcon{
        max-width: 75px;
    }
    .cart-item{
        background-color: rgba(255, 255, 255, 0.7);
        
    }
    .remove-btn{
        box-shadow: none;
    }
    
    .product-container{
        
        border-bottom: 1px dotted #888;
        transition: all 0.3s ease-in;
        &:hover{
            background-color: rgba(252, 202, 121, 0.5);
        }
    }
    
    .link-point{
        font-weight: 900;
        transition: all 0.3s ease;
        &:hover{
          background-color: gold;  
          color: black;
          
        }
    }
}