* {
    margin: 0;
    padding: 0;
    
}
.bulb-light {
    
    background-color: rgb(255, 233, 111);
}

.bulb-dark {
    background-color: rgb(180, 180, 180);
}
body {
    overflow-y: overlay;
    scrollbar-width: none;
    scroll-behavior: smooth;
    
    transition: all 0.3s ease;
    // 所有的按鈕
    button{
        background-color: antiquewhite;
        border-radius: 0.5rem;
        padding: 0 0.5rem 0 0.5rem;
        box-shadow: 1px 1px 5px black;
    }
    .header{
        position: relative;

    }
    .light-area{
        position: absolute;
        top: 1rem;
        right: 1rem;
       
        .bulb{
            text-align: center;
            h1{
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
            img{
                transform: rotate( -45deg );
                max-width: 100px;
                margin: auto;
            }
            button{
                color: white;
                font-weight: bold;
                display: flex;
                width: 100px;
                margin: auto;
                padding: 5px;
                align-items: center;
                justify-content: center;
                background-color: rgb(171, 162, 150);
                box-shadow: 2px 2px 5px gray , inset 2px 2px 2px white;
                margin: 0.5rem;
                
            }
        }
    }



    // product area
    .img_container{
        border-radius: 20px;
    }
    .product-name{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
}