:root{
    --theme-color:rgb(255,255,255);
    --text-color:rgb(0,0,0);
    --text-style:Nova Mono;
    --bg-color:rgb(93,172,129);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-style);
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

body{
    
    header{
        position: relative;
        background-image: url(../reMakePicture/other/Dragon.JPG);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        height: 30vh;
        &::before{
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(0,0,0,0.6);
            z-index: 0;
        }
        .logo-area{
            position: absolute;
            z-index: 1;
            color: white;
            font-weight: bold;
            img {
                width: 100px;
                margin-left: 5rem;

            }
            p{
                margin-bottom: 0;
            }
        }
        
    }

    main{
        hr{
            border-radius: 2px;
        }

        div{
            nav{
                height: 60vh;
                
            }
            ul{
                padding-left: 0;
                width: 100%;
                li.nav-item{
                    list-style: none;
                    width: inherit;
                    
                    border-radius: 5px;
                    
                    transition: all 0.5s ease;
                    
                    button{
                        margin-bottom: 0.5rem;
                        width: 100%;
                        border-radius: 10px;
                        &:hover{
                            background-color: var(--bg-color);
                            border-radius: 10px;
                            color: var(--text-color);
                        }
                    }
    
                }
            }
            .main-area{
                height: 65vh;
                overflow-y: overlay;
                scrollbar-width: none;
                scroll-behavior: smooth;
                
                .slogan{
                    text-align: center  ;
                }
                
                h1{
                    text-align: center;
                }
                .carousel-inner{
                    height: 400px;
                    background-color: rgb(133, 133, 133);
                    img{
                        
                        object-fit: cover;
                    }
                }
                
            }
        }
        
    }
    footer{
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        
        p{
            margin-bottom: 0rem;
            font-size: 0.8rem;
        }
    }
}

@font-face{
    font-family: 'MyCustomFont';
    src: url(../ttf/Designer.otf) format('truetype');
    font-weight:lighter;
    font-style: normal;
}

@media (max-width:1000px) {
    .bg-line{
        border: none;
    }
}

