:root {
  --theme-color: rgb(15, 37, 64);
  --text-color: rgb(105, 212, 255);
  --text-color-2: rgb(255, 177, 27);
  --text-family: LXGW WenKai TC;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body div.bg-blur {
  background-color: var(--theme-color);
  width: 100vw;
  height: 100vh;
  background-image: url(../public/DOG-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  background-blend-mode: lighten;
  background-attachment: scroll;
  background-position: 20rem 5rem;
  filter: blur(3px) brightness(0.5);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
body div.space {
  font-family: var(--text-family);
  color: var(--text-color);
  background-color: var(--theme-color);
  padding-top: 2.5%;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body div.space header {
  margin: 0 5% 0 10%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  -moz-columns: 2;
       columns: 2;
  height: 90vh;
}
body div.space header div section {
  position: relative;
}
body div.space header div section .useState-area {
  animation: changeScale 8s infinite;
}
body div.space header div section .info-area {
  padding: 3%;
}
body div.space header div section .shortcut {
  padding: 2.5% 0 2.5% 0;
  display: flex;
}
body div.space header div section .shortcut ul {
  padding-left: 0;
}
body div.space header div section .shortcut ul li {
  list-style: none;
  width: 10rem;
}
body div.space header div section .shortcut ul li a {
  display: flex;
  align-items: center;
  padding: 5px 0 5px 0;
  margin-bottom: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--text-color);
}
body div.space header div section .shortcut ul li a div {
  border: 1px rgb(165, 222, 228) solid;
  height: 0.01rem;
  width: 1rem;
  margin: 0 0.3rem 0 0;
  transition: all 0.5s ease;
}
body div.space header div section .shortcut ul li a:hover {
  color: var(--text-color-2);
}
body div.space header div section .shortcut ul li a:hover div {
  border-color: var(--text-color-2);
  width: 4rem;
}
body div.space header div section form {
  display: flex;
  flex-direction: column;
  position: relative;
}
body div.space header div section form input,
body div.space header div section form textarea {
  border: 2px solid black;
  border-radius: 0.3rem;
  width: 300px;
  text-indent: 10px;
}
body div.space header div section form textarea {
  height: 5rem;
}
body div.space header div section form .submit-area {
  display: flex;
}
body div.space header div section form .submit-area button {
  background-color: var(--theme-color);
  color: var(--text-color);
  box-shadow: inset 1px 1px 3px white;
  margin-top: 1%;
  width: 6rem;
  border-radius: 0.3rem;
}
body div.space header div section form .submit-area button:active {
  box-shadow: inset 1px 1px 3px black, 2px 2px 5px rgb(0, 0, 0);
}
body div.space header div section form .submit-area .date {
  text-align: end;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
  animation: changeTimeColor 8s infinite;
}
body div.space header div section form .submit-area .date p {
  margin-bottom: 0;
}
body main {
  margin: 0 10% 0 5%;
  width: 50vw;
  height: 90vh;
  overflow-y: overlay;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
body main section {
  padding: 3%;
}
body main section div.work p {
  margin-top: 0.8rem;
  font-weight: normal;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  cursor: grab;
}
body main section div.work p:hover {
  background-color: rgba(15, 37, 64, 0.3);
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  color: var(--text-color-2);
  top: -5px;
}
body main section div .skill {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body main section div .skill span {
  padding: 0.5rem;
  font-size: larger;
  font-weight: bold;
  transition: all 0.5s ease;
}
body main section div .skill span:hover {
  color: var(--text-color-2);
  transform: scale(1.5);
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  cursor: pointer;
}
body main section div .o-skillarea {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 5%;
}
body main section div .o-skill {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
body main section div .o-skill img {
  width: 50px;
  height: 50px;
}
body main section div .o-skill p {
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 1.2rem;
}
body main section .react-project {
  padding-top: 1rem;
}
body main section a {
  height: 100px;
  display: flex;
  text-decoration: none;
  gap: 2px;
  color: var(--text-color);
  transition: transform 0.5s ease;
  margin-top: 5%;
  border-radius: 5px;
  overflow: hidden;
}
body main section a .img-container {
  min-width: 130px;
  width: 5rem;
  border-radius: 5px;
  overflow: hidden;
}
body main section a .img-container .project-img {
  display: flex;
  justify-content: center;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  width: 90%;
  height: 100%;
  transition: all 0.3s ease;
}
body main section a .description {
  margin-left: 0.5rem;
  min-width: 300px;
  width: 100%;
}
body main section a .description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
  transition: all 1s ease;
}
body main section a .description .state {
  color: white;
  animation: changeColor 10s infinite;
}
body main section a:hover {
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  transform: translate(-10px, -10px);
  height: 125px;
}
body main section a:hover .img-container {
  border-radius: 10px;
}
body main section a:hover .project-img {
  overflow: hidden;
  transform: scale(1.05);
}
body main section a:hover p {
  text-overflow: clip;
  white-space: wrap;
}
body footer {
  height: 5vh;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
}
body footer p {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  div.bg-blur {
    background-position: 10rem 5rem !important;
  }
  div.space {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  div.space header.header {
    overflow: overlay;
    scrollbar-width: none;
    width: 70vw;
    overflow: visible;
    height: auto;
    margin: 0;
  }
  div.space main {
    margin: 0;
    margin-top: 2rem;
    width: 70vw;
    overflow: visible;
  }
  div.space main .story {
    padding: 0;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
}
@keyframes changeTimeColor {
  0% {
    color: rgb(167, 255, 254);
  }
  33% {
    color: rgb(201, 125, 255);
  }
  66% {
    color: rgb(255, 220, 156);
  }
}
@keyframes changeColor {
  0% {
    color: rgb(255, 47, 44);
  }
  33% {
    color: rgb(248, 202, 104);
  }
  66% {
    color: rgb(66, 255, 79);
  }
}
@keyframes changeScale {
  0% {
    font-weight: 100;
    color: aqua;
  }
  25% {
    font-weight: 900;
    color: rgb(255, 96, 96);
  }
  75% {
    font-weight: 100;
    color: rgb(255, 191, 96);
  }
}/*# sourceMappingURL=index.css.map */